.list-container {
  margin: 0 auto;
  width: 80vw;

  &__header {
    font-size: 3rem;
    margin-top: 3rem;
    animation: moveFromLeft 1s ease-out;

    @keyframes moveFromLeft {
      0% {
        opacity: 0;
        transform: translateX(-100px);
      }

      100% {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }
}

.table {
  &__header {
    &--titles {
      font-weight: 700;
      font-size: 2rem;
    }
  }

  &__container {
    overflow: hidden;
  }

  &__tuples {
    transition: all 0.2s ease-in;

    &:hover {
      cursor: pointer;
      background-color: rgba(0, 0, 0, 0.07) !important;

      transform: scale(1.01);
    }

    &:visited {
      transform: scale(1);
    }

    &--images {
      border-radius: 50%;
      height: 5rem;
      width: 5rem;
      padding-top: 3px;
    }
  }
}

mat-paginator {
  border-top: 1px solid #ddd;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
}
