html {
  font-size: 62.5%;

  @media (max-width: 28.125em) {
    font-size: 45%;
  } //450px
}
body {
  background-color: #f7f7f7;
  overflow: hidden;
}

::selection {
  background: black; /* Background color for the selected text */
  color: white; /* Text color for the selected text */
}

::-moz-selection {
  background: black; /* Background color for Firefox */
  color: white; /* Text color for Firefox */
}

* {
  padding: 0;
  margin: 0;
}
